training/*
doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
*.gz
data/db/*
data/training
data/eval
data/embeddings
data/resources
data/clearNLP
data/models/ELMo/en/*.hdf5
data/models/ELMo/fr/*.hdf5
logs
*__pycache__*
data/models/ELMo/en/cache
env
dist
build

Thumbs.db
.gradle
**/build
*/out/
*.iml
*.old
log

dependency-reduced-pom.xml

build.xml

*/maven-build.properties
*/maven-build.xml
maven-build.xml
release.properties
resources/dataset/dataseer/corpus/*.csv
resources/dataset/dataseer/corpus/*.xlsx
resources/dataset/dataseer/csv/*
!resources/dataset/dataseer/csv/.gitkeep
!resources/dataset/dataseer/csv/all-1.csv
training/*
